body {
    background-color: #f3f3f3;
    margin: 0 auto;
    width: 95%;
}

h1 {
    text-decoration: underline;
}

a:link, a:visited {
	color: #014359;
}

a:hover {
	color: #e88228;
}

.domain-header {
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
    margin-top: 5px;
}

.domain-thirdparty:nth-child(2n) {
  background-color: rgba(1, 67, 89, 0.1);
}

.domain-header:hover, .domain-thirdparty:hover {
    background-color: #014359;
    color: white;
}

.domain-thirdparty {
    cursor: pointer;
    padding: 5px 5px 5px 20px;
}

.hidden {
    display: none;
}
